/* app css stylesheet */

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font: 15px/1.3 'Open Sans', sans-serif;
  color: #5e5b64;
  text-align: center;
  background-color:rgb(208, 208, 208) !important; 
}



html{
  position: absolute;
  width: 100%;height: 100%;
}
#dataload{
position: absolute;
top: 0px;
width: 100%;
height: 100%;
padding-top: 53px;
}
.headerr{
  position: fixed;top: 0px;height: 53px;background-color: black;width: 100%;z-index: 1000;  
}
.logo{
  position: absolute;left:2%;top:   %;padding: 2px;width: 50px;height:98%;background-image: url('img/logo.png');}
.logo img{
  width:40px;height: 40px;padding: 5px;opacity: 1;
}
/*.logo img:hover{
  opacity: 1;

  }
*/.heading{
  width: 250px;position: absolute;left: 9%;height: 98%;padding:;color: white;text-align: center;border-right:1px solid #333;/*border-left:1px solid #333;*/
}
.heading a{
display:block; width:100%; margin:0 auto;top: 15px;position: relative;opacity: 1;
}

  /*.heading a:hover{
    color: whitesmoke;opacity: 1;
  }*/
.iit{
  font-size: 2em;
}
.acads{
  font-size: 1em;
}
.navigation{
border-right:1px solid #333;border-left:1px solid #333;
  position: absolute;left: 50%;width: 50px;height:98%;background-image: url('img/logo.png');margin-left: -25px;
}
.navigation img{position: relative;top: 8px;opacity: 0.7;}
.navigation img:hover{
  opacity: 1;
}
.search{
  position: absolute;right: 2%;height: 100%;width: 50px;border-right:1px solid #333;border-left:1px solid #333;
}
.search img{opacity: 0.7;width: 100%;position:relative;top: 7px;}
.search img:hover{opacity: 1;}
.subdivisions{
position: relative;
top: 0px;
width: 100%;
height: 40px;
z-index: 100;
}
.subdivisions ul {
  width: 100%;height: 40px;padding: 0px;margin: 0px;
}
.subdivisions ul li{
  width: 100%;display: inline-block;width: 32.7%;padding: 2px;color: white;text-transform: uppercase;text-align: center;background-color: grey;opacity: 0.7;margin: 0px;
}
.subdivisions ul a{z-index: 50;width: 100%;height: 100%;padding: 0px;margin: 0px;}
.subdivisions ul li:hover{
  opacity: 1;
}
.oderlinks{
  position: fixed;top: 53px;left: 24%;width: 750px;height: 240px;background-color: #555;z-index: 100;display: none;z-index: 150;
}
.oderlinks .mainlinks{
  position: relative;height: 236px;width: 200px;background-color:#222426; 
}
.oderlinks .mainlinks nav ul{
  text-transform: uppercase;list-style: none;padding:0px;margin: 0px;
}
.oderlinks .mainlinks nav a{
  text-decoration: none;
}
.oderlinks .mainlinks nav li{
  line-height: 58px;color: white;padding-left: 0px;text-align:left;vertical-align: middle;font-weight: bold;padding-top: 0px;padding-left: 10px;text-decoration: none;
/*  border-bottom: 1px solid #333;
*/}
.heading a{
  text-decoration: none;color: whitesmoke;cursor: pointer;
}
.heading a:hover{
  text-decoration: none;color: white;
}

.top-search-menu {
background: #ddd;
display: none;
float: right;
padding: 8px;
width: 250px;
position: fixed;top: 53px;right: 2%;z-index: 1000;height: 40px;
}
.top-search-menu .tbInput {
background: white;
border: none;
-webkit-box-shadow: none;
box-shadow: none;
padding: 10px;
width: 225px;
}
.top-search-menu input[type="submit"] {
display: none;
}
.header-icon{
  position: absolute;right: 15%;height: 100%;width: 100px;border-right:1px solid #333;border-left:1px solid #333;
}
.header-icon i {
color: #999;
cursor: pointer;
font-size: 16px;
line-height: 1;
margin: 0px;
padding: 15px 8px 14px;
}