
.datacomin {
position: absolute;
padding: 3%;
left: 16.5%;
top: 53px;
height: 100%;
width: 80% !important;
/*overflow-y: scroll;
*/overflow-x: hidden;
/*padding-right: 30px;
*/}
.containerdata{
  width: 100%;position: relative;height: 100%;
}
.insidecontainerdata{
width: 100%;
position: relative;
height: inherit;
top: 100px;
padding: 0;
margin: 0px;}
.sidenavbar nav ul{
  list-style: none;cursor: pointer;
}
.sidenavbar{
  position: fixed;	width: 16%;top: 	53px;px;z-index: 4;left: %;height: 100%;background-color: #333333;border:4px solid black;border-top: 0px !important; text-transform: capitalize;padding-bottom: 40px; 
}
.sidenavbar nav {
	width: 100%;
	height: 100%;margin-top: 0px;
}
.sidenavbar nav .navheader{
	line-height: 120px;text-align: center;color: white;text-transform: capitalize;font-size: 2em;font-weight: bold;
}
.sidenavbar nav .navheadersecond{
	line-height: 40px;text-align: left;color: white;text-transform: uppercase;font-size: 1.5em;font-weight: normal;padding-left: 15px;font-weight: bold;
}
.sidenavbar nav ul{
	margin: 0px;height: 
}
.sidenavbar nav img{
	width: 70px;height: 40px;position: relative;float: right;display: inline-block;
}
.sidenavbar nav a{
	text-decoration: none;color: white;
}
.sidenavbar nav ul li{
	line-height: 30px;background-color: #222426;border-bottom:1px solid #333;font-size: 1.3em;text-align: left;text-transform: capitalize;}
.sidenavbar nav ul li .nav_images{
float: right;height: 30px;width: 60px;
}
.sidenavbar nav ul li .nav_fields{
height: 100%;width: 80px;padding-left: 15px;
}
.second{
	border: 0px !important;background-color: !important;height: 0% !important;position: fixed;left: 10%;top: 174px;
}
.lefty{
	left: 0px;
}


nav.about .about,
nav.events .events,
nav.resources .resources,
nav.tsc .tsc,nav.genre .genre,
nav.qng .qng,nav.team .team,
nav.idp .idp,nav.ilp .ilp,nav.ispa .ispa,nav.team .team
{
	background-color:#559339;
}