@-ms-viewport {
	width: device-width;
}

.hidden {
	display: none;
	visibility: hidden;
}

.visible-phone {
	display: none !important;
}

.visible-tablet {
	display: none !important;
}

.hidden-desktop {
	display: none !important;
}

.visible-desktop {
	display: inherit !important;
}

@media (max-width: 569px) {
	.hidden-desktop {
		display: inherit !important;
	}
	.visible-desktop {
		display: none !important;
	}
	.visible-phone {
		display: inherit !important;
	}
	.hidden-phone {
		display: none !important;
	}
}

@media (min-width: 570px) and (max-width: 959px) {
	.hidden-desktop {
		display: inherit !important;
	}
	.visible-desktop {
		display: none !important ;
	}
	.visible-tablet {
		display: inherit !important;
	}
	.hidden-tablet {
		display: none !important;
	}
}


.visible-print {
	display: none !important;
}

@media print {
	.visible-print {
		display: inherit !important;
	}
	.hidden-print {
		display: none !important;
	}
}

@media (max-width: 570px) {

/*    .nav-dropdowns {
		position: absolute;   
	}
	*/
	.nav-dropdowns .nav-container {
		width: 100%;
	}

	.top-navigation-menu .nav-section {
		display: none;
	}

	.top-navigation-menu .nav-section-section {
		display: block;
	}

}

@media (max-width: 569px) {
	html, body {
		overflow: inherit;
	}

	.big-block .block-image {
		float: none;
		margin-bottom: 1.5em;
		width: 100%;
	}

	.block-wrap .block-content {
		padding: 0;
	}
}

@media  (max-width: 959px) {
	html {
		-webkit-text-size-adjust: auto; 
	}

/*    .topNav {
		position: absolute;
		top: 0px !important;
	}

	.nav-dropdowns {
		position: absolute;
	}
	*/
	.topNav header.primary,
	.wrapper {
		width: 100%;
	}

	header.primary .logo {
		margin-left: 15px;
	}

	header.primary > nav {
		width: auto;
	}

	article.content iframe {
		width: 100%;
	}
	
	.row {
		width: 100%;
		margin: 0px;
	}

	.row-default {
		margin-left: -30px;
		width: auto;
	}

	.row-default-width {
		width: auto;
	}

	.span12,
	.span11,
	.span10,
	.span9,
	.span8,
	.span7,
	.span6,
	.fluid-grid8 {
		max-width: 630px;
		width: 100%;
	}

	.span3 {
		max-width: 216px;
		width: 100%;
	}

	.fluid-row {
		margin-left: -30px;
	}

	.fluid-offset-none {
		margin-left: 0px !important;
	}

	.fluid-offset-center,
	.fluid-column {
		float: none;
		margin-left: auto !important;
		margin-right: auto !important;
	}

	.fluid-block .span8 {
		width: 100%;
	}

	.fluid-block .block-wrap .block-image {
		float: none;
		max-height: 275px;
		max-width: 435px;
		width: 100%;
	}

	.fluid-block .block-wrap .block-content {
		height: 175px;
		overflow: hidden;
		padding-left: 0px;
	}

	.fluid-block .block-wrap .block-content:after {
		content: "";
		background-size: 100%;
		background-image: -webkit-linear-gradient(top,rgba(255,255,255,0) 0, white 100%);
		bottom: 0px;
		display: block;
		height: 25%;
		left: 0px
		pointer-events: none;
		position: absolute;
		width: 100%;
	}

	.crew-page .span3 {
		margin-left: 10px;
	}

	.nav-dropdowns .nav-container {
		width: 100%;
	}

	.top-navigation-menu .nav-section-series {
		display: none;
	}

	.review-section.row h3:not(.section-breakout-title),
	.review-section.row [class*="span"],
	.review-conclusion.row [class*="span"]{
		float: none;
		margin: 5px auto !important;
		width: 100% !important;
		max-width: 630px !important;
	}

	.review-section.row p {
		margin: 0px 0px 1.5em !important;
	}

	.review-section.row h3:not(.section-breakout-title) {
		padding-left: 0px !important;
	}

	article h5.review-summary {
		width: inherit;
	}

	.single-review .content.singleFullWidth .span12 {
		width: 100%;
		max-width: 630px;
	}
	
	.single-review .content.singleFullWidth .span8-6 {
		width: 100%;
		max-width: 420px;
	}

	#cover img.cover-image,
	#cover img.cover-video {
		height: 100%;
		width: auto;
	}

	#cover img.cover-video {
		min-height: auto;
	}

	#cover-header .cover-header-content {
		padding: 0px 30px;
	}

	.error404 .psearchform input[type="text"], 
	.search .psearchform input[type="text"], 
	.tbInput {
		width: 90%;
	}

	.tab-container .tab {
		width: 100%;
		max-width: 630px;
	}

	.specs table th {
		float: left;
	}

	.specs table .gap {
		display: none;
	}

	.specs table td {
		width: auto;
	}

	.row.pagination {
		margin-bottom: 20px;
	}

}

@media (min-width: 960px)  {
/*    .tablet .topNav {
		position: absolute;
		top: 0px !important;
	}

	.tablet .nav-dropdowns {
		position: absolute;
		}*/
	}