/******************************
*
* RoyalSlider Minimal White Skin (.rsMinW)
*s
* 1. Arrows 
* 2. Bullets
* 3. Thumbnails
* 4. Tabs
* 5. Fullscreen button
* 6. Play/close video button
* 7. Preloader
* 
* Sprite:'rs-minimal-white.png'
* Feel free to edit anything
* If you don't some part - just delete it
* 
******************************/
/* Background */
.rsOverflow,
.rsSlide,
.rsVideoFrameHolder,
.rsThumbs{overflow:hidden !important;}
.rsOverflow{}
.rsThumbs{background-color:#000;}

/***************
*
* 2. Bullets
*
****************/
.rsBullets{position:absolute;z-index:35;bottom:18px;right:13px;width:auto;height:auto;text-align:left;overflow:hidden;line-height:5px;}
.rsBullet{width:5px;height:5px;display:inline-block;margin:0 5px;border-radius:50%;background:#aaa;background:rgba(200,200,200,0.6);*display:inline;*zoom:1;}
.rsBullet.rsNavSelected{background:#28a0ff;}
/***************
*
* 3. Thumbnails
*
****************/
.rsThumbs{background-color:#000;}
.rsThumbsHor{padding-bottom:5px;padding-top:5px;width:100%;height:72px;margin-bottom:1.5em;}
.rsThumbsVer{padding-right:4px;width:96px;height:100%;position:absolute;top:0;right:0;}
.rsWithThumbsHor .rsThumbsContainer{position:relative;height:100%;}
.rsWithThumbsVer .rsThumbsContainer{position:relative;width:100%;}
.rsThumb{float:left;overflow:hidden;width:96px;height:72px;color:#555;}
.rsThumb:hover{color:#000;}
.rsThumb img{width:100%;height:auto;}
.rsThumb.rsNavSelected img{}
.rsTmb{display:block;}
/* Thumbnails arrow icons */
.rsThumbsArrow{height:100%;width:20px;position:absolute;display:block;cursor:pointer;z-index:21;background:#000;opacity:0.6;}
.rsThumbsArrow:hover{opacity:0.9;}
.rsWithThumbsVer .rsThumbsArrow{height:0;width:0;}
.rsWithThumbsVer .rsThumbsArrowLeft{top:0;left:0;}
.rsWithThumbsVer .rsThumbsArrowRight{bottom:0;left:0;}
.rsWithThumbsHor .rsThumbsArrowLeft{left:0;top:0;}
.rsWithThumbsHor .rsThumbsArrowRight{right:0;top:0;}
.rsThumbsArrowIcn{width:0px;height:0px;top:35px;position:absolute;cursor:pointer;border:7px solid transparent;}
.rsThumbsArrowIcn:after{content:'';display:block;width:0px;height:0px;position:absolute;top:-7px;border:7px solid transparent;}
.rsWithThumbsHor .rsThumbsArrowLeft .rsThumbsArrowIcn{border-right-color:#fff;right:6px}
.rsWithThumbsHor .rsThumbsArrowLeft .rsThumbsArrowIcn:after{border-right-color:#000;right:-8px;}
.rsWithThumbsHor .rsThumbsArrowRight .rsThumbsArrowIcn{border-left-color:#fff;left:6px;}
.rsWithThumbsHor .rsThumbsArrowRight .rsThumbsArrowIcn:after{border-left-color:#000;left:-8px;}

.rsWithThumbsVer .rsThumbsArrowLeft .rsThumbsArrowIcn{background-position:-144px -32px;}
.rsWithThumbsVer .rsThumbsArrowRight .rsThumbsArrowIcn{background-position:-144px -48px;}
.rsThumbsArrowDisabled{display:none !important;}
/* Thumbnails resizing on smaller screens */
/***************
*
* 4. Tabs
*
****************/
.rsTabs{width:100%;height:auto;margin:0 auto;text-align:center;overflow:hidden;padding-top:12px;position:relative;}
.rsTab{display:inline-block;cursor:pointer;text-align:center;height:auto;width:auto;color:#333;padding:5px 13px 6px;min-width:96px;border:1px solid #D9D9DD;border-right:1px solid #f5f5f5;text-decoration:none;background-color:#FFF;background-image:-webkit-linear-gradient(top,#fefefe,#f4f4f4);background-image:-moz-linear-gradient(top,#fefefe,#f4f4f4);background-image:linear-gradient(to bottom,#fefefe,#f4f4f4);-webkit-box-shadow:inset 1px 0 0 #fff;box-shadow:inset 1px 0 0 #fff;*display:inline;*zoom:1;}
.rsTab:first-child{-webkit-border-top-left-radius:4px;border-top-left-radius:4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;}
.rsTab:last-child{-webkit-border-top-right-radius:4px;border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px;border-right:1px solid #cfcfcf;}
.rsTab:active{border:1px solid #D9D9DD;background-color:#f4f4f4;-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.2) inset;box-shadow:0 1px 4px rgba(0,0,0,0.2) inset;}
.rsTab.rsNavSelected{color:white;border:1px solid #999;text-shadow:1px 1px #838383;-webkit-box-shadow:0 1px 9px rgba(102,102,102,0.65) inset;box-shadow:0 1px 9px rgba(102,102,102,0.65) inset;background:#ACACAC;background-image:-webkit-linear-gradient(top,#ACACAC,#BBB);background-image:-moz-llinear-gradient(top,#ACACAC,#BBB);background-image:linear-gradient(to bottom,#ACACAC,#BBB);}
/***************
*
* 5. Fullscreen button
*
****************/
.rsFullscreenBtn{right:0;top:0;width:44px;height:44px;z-index:22;display:block;position:absolute;cursor:pointer;}
.rsFullscreenIcn{display:block;margin:6px;width:32px;height:32px;background:url('rs-minimal-white.png') 0 0;background-color:#fff;background-color:rgba(255,255,255,0.75);border-radius:2px;}
.rsFullscreenIcn:hover{background-color:#fff;}
.rsFullscreen .rsFullscreenIcn{background-position:-32px 0;}
/***************
*
* 6. Play/close video button
*
****************/
.rsPlayBtn{-webkit-tap-highlight-color:rgba(0,0,0,0.3);width:64px;height:64px;margin-left:-32px;margin-top:-32px;cursor:pointer;}
.rsPlayBtn:hover .rsPlayBtnIcon{background-color:#d5d5d5;}
.rsBtnCenterer{position:absolute;left:50%;top:50%;width:20px;height:20px;}
.rsCloseVideoBtn{right:0;top:0;width:44px;height:44px;z-index:23;position:absolute;cursor:pointer;}
.rsDefault .rsCloseVideoBtn.rsiOSBtn{top:-38px;right:-6px;/*top:-6px;right:-38px;*/}
.rsCloseVideoIcn{margin:6px;width:32px;height:32px;background:url('rs-minimal-white.png') -64px 0;background-color:#eee;background-color:rgba(238,238,238,0.75);}
.rsCloseVideoIcn:hover{background-color:#d5d5d5;}
