@font-face {
	font-family: 'icomoon';
	src:url('../font/icons/icomoon.eot');
	src:url('../font/icons/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../font/icons/icomoon.woff') format('woff'),
		url('../font/icons/icomoon.ttf') format('truetype'),
		url('../font/icons/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-forward, .icon-reply, .icon-bubble, .icon-spinner, .icon-spinner-2, .icon-spinner-3, .icon-undo, .icon-redo, .icon-play, .icon-camera, .icon-stack, .icon-arrow-up, .icon-arrow-down, .icon-arrow-left, .icon-arrow-right, .icon-bookmark, .icon-bookmarks, .icon-loop, .icon-loop-2, .icon-home, .icon-image, .icon-image-2, .icon-images, .icon-camera-2, .icon-tags, .icon-tag, .icon-laptop, .icon-mobile, .icon-screen, .icon-keyboard, .icon-mobile-2, .icon-tablet, .icon-print, .icon-download, .icon-upload, .icon-undo-2, .icon-redo-2, .icon-zoom-out, .icon-search, .icon-expand, .icon-contract, .icon-expand-2, .icon-contract-2, .icon-list, .icon-list-2, .icon-numbered-list, .icon-menu, .icon-menu-2, .icon-cloud-upload, .icon-cloud-download, .icon-earth, .icon-link, .icon-flag, .icon-eye, .icon-eye-blocked, .icon-eye-2, .icon-attachment, .icon-heart, .icon-heart-2, .icon-star, .icon-thumbs-up, .icon-thumbs-up-2, .icon-point-up, .icon-point-right, .icon-point-left, .icon-point-down, .icon-plus, .icon-minus, .icon-close, .icon-checkmark, .icon-checkmark-2, .icon-play-2, .icon-pause, .icon-stop, .icon-backward, .icon-forward-2, .icon-last, .icon-previous, .icon-next, .icon-first, .icon-arrow-up-2, .icon-arrow-down-2, .icon-arrow-right-2, .icon-arrow-left-2, .icon-tab, .icon-checkbox-checked, .icon-checkbox-unchecked, .icon-map, .icon-map-2, .icon-compass, .icon-location, .icon-location-2, .icon-pushpin, .icon-clock, .icon-clock-2, .icon-cogs, .icon-cog, .icon-cog-2, .icon-remove, .icon-remove-2, .icon-stats, .icon-bars, .icon-star-2, .icon-star-3, .icon-podcast, .icon-facebook, .icon-facebook-2, .icon-instagram, .icon-twitter, .icon-twitter-2, .icon-feed, .icon-feed-2, .icon-youtube, .icon-youtube-2, .icon-vimeo, .icon-vimeo2, .icon-flickr, .icon-flickr-2, .icon-picassa, .icon-picassa-2, .icon-dribbble, .icon-dribbble-2, .icon-github, .icon-github-2, .icon-wordpress, .icon-wordpress-2, .icon-tumblr, .icon-tumblr-2, .icon-finder, .icon-android, .icon-windows, .icon-apple, .icon-soundcloud, .icon-soundcloud-2, .icon-skype, .icon-reddit, .icon-linkedin, .icon-stumbleupon, .icon-delicious, .icon-stumbleupon-2, .icon-pinterest, .icon-pinterest-2, .icon-foursquare, .icon-foursquare-2, .icon-chrome, .icon-firefox, .icon-IE, .icon-opera, .icon-safari, .icon-google, .icon-google-plus, .icon-google-plus-2, .icon-google-drive, .icon-share, .icon-quotes-left, .icon-user, .icon-users, .icon-bubbles, .icon-bubbles-2, .icon-bubble-2, .icon-bubbles-3, .icon-bubbles-4, .icon-zoom-in, .icon-unlocked, .icon-lock, .icon-enter, .icon-exit, .icon-loop-3, .icon-embed, .icon-code, .icon-windows8, .icon-blogger, .icon-blogger-2, .icon-steam, .icon-steam-2, .icon-cart, .icon-cart-2 {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-forward:before {
	content: "\e000";
}
.icon-reply:before {
	content: "\e001";
}
.icon-bubble:before {
	content: "\e002";
}
.icon-spinner:before {
	content: "\e003";
}
.icon-spinner-2:before {
	content: "\e004";
}
.icon-spinner-3:before {
	content: "\e005";
}
.icon-undo:before {
	content: "\e006";
}
.icon-redo:before {
	content: "\e007";
}
.icon-play:before {
	content: "\e008";
}
.icon-camera:before {
	content: "\e009";
}
.icon-stack:before {
	content: "\e00a";
}
.icon-arrow-up:before {
	content: "\e00b";
}
.icon-arrow-down:before {
	content: "\e00c";
}
.icon-arrow-left:before {
	content: "\e00d";
}
.icon-arrow-right:before {
	content: "\e00e";
}
.icon-bookmark:before {
	content: "\e00f";
}
.icon-bookmarks:before {
	content: "\e010";
}
.icon-loop:before {
	content: "\e011";
}
.icon-loop-2:before {
	content: "\e012";
}
.icon-home:before {
	content: "\e013";
}
.icon-image:before {
	content: "\e014";
}
.icon-image-2:before {
	content: "\e015";
}
.icon-images:before {
	content: "\e016";
}
.icon-camera-2:before {
	content: "\e017";
}
.icon-tags:before {
	content: "\e018";
}
.icon-tag:before {
	content: "\e019";
}
.icon-laptop:before {
	content: "\e01a";
}
.icon-mobile:before {
	content: "\e01b";
}
.icon-screen:before {
	content: "\e01c";
}
.icon-keyboard:before {
	content: "\e01d";
}
.icon-mobile-2:before {
	content: "\e01e";
}
.icon-tablet:before {
	content: "\e01f";
}
.icon-print:before {
	content: "\e020";
}
.icon-download:before {
	content: "\e022";
}
.icon-upload:before {
	content: "\e023";
}
.icon-undo-2:before {
	content: "\e021";
}
.icon-redo-2:before {
	content: "\e024";
}
.icon-zoom-out:before {
	content: "\e026";
}
.icon-search:before {
	content: "\e025";
}
.icon-expand:before {
	content: "\e027";
}
.icon-contract:before {
	content: "\e028";
}
.icon-expand-2:before {
	content: "\e029";
}
.icon-contract-2:before {
	content: "\e02a";
}
.icon-list:before {
	content: "\e02b";
}
.icon-list-2:before {
	content: "\e02c";
}
.icon-numbered-list:before {
	content: "\e02d";
}
.icon-menu:before {
	content: "\e02e";
}
.icon-menu-2:before {
	content: "\e02f";
}
.icon-cloud-upload:before {
	content: "\e030";
}
.icon-cloud-download:before {
	content: "\e031";
}
.icon-earth:before {
	content: "\e032";
}
.icon-link:before {
	content: "\e033";
}
.icon-flag:before {
	content: "\e034";
}
.icon-eye:before {
	content: "\e035";
}
.icon-eye-blocked:before {
	content: "\e036";
}
.icon-eye-2:before {
	content: "\e037";
}
.icon-attachment:before {
	content: "\e038";
}
.icon-heart:before {
	content: "\e039";
}
.icon-heart-2:before {
	content: "\e03a";
}
.icon-star:before {
	content: "\e03b";
}
.icon-thumbs-up:before {
	content: "\e03c";
}
.icon-thumbs-up-2:before {
	content: "\e03d";
}
.icon-point-up:before {
	content: "\e03e";
}
.icon-point-right:before {
	content: "\e03f";
}
.icon-point-left:before {
	content: "\e040";
}
.icon-point-down:before {
	content: "\e041";
}
.icon-plus:before {
	content: "\e042";
}
.icon-minus:before {
	content: "\e043";
}
.icon-close:before {
	content: "\e044";
}
.icon-checkmark:before {
	content: "\e045";
}
.icon-checkmark-2:before {
	content: "\e046";
}
.icon-play-2:before {
	content: "\e047";
}
.icon-pause:before {
	content: "\e048";
}
.icon-stop:before {
	content: "\e049";
}
.icon-backward:before {
	content: "\e04a";
}
.icon-forward-2:before {
	content: "\e04b";
}
.icon-last:before {
	content: "\e04c";
}
.icon-previous:before {
	content: "\e04d";
}
.icon-next:before {
	content: "\e04e";
}
.icon-first:before {
	content: "\e04f";
}
.icon-arrow-up-2:before {
	content: "\e050";
}
.icon-arrow-down-2:before {
	content: "\e051";
}
.icon-arrow-right-2:before {
	content: "\e052";
}
.icon-arrow-left-2:before {
	content: "\e053";
}
.icon-tab:before {
	content: "\e054";
}
.icon-checkbox-checked:before {
	content: "\e055";
}
.icon-checkbox-unchecked:before {
	content: "\e056";
}
.icon-map:before {
	content: "\e057";
}
.icon-map-2:before {
	content: "\e058";
}
.icon-compass:before {
	content: "\e059";
}
.icon-location:before {
	content: "\e05a";
}
.icon-location-2:before {
	content: "\e05b";
}
.icon-pushpin:before {
	content: "\e05c";
}
.icon-clock:before {
	content: "\e05d";
}
.icon-clock-2:before {
	content: "\e05e";
}
.icon-cogs:before {
	content: "\e05f";
}
.icon-cog:before {
	content: "\e060";
}
.icon-cog-2:before {
	content: "\e061";
}
.icon-remove:before {
	content: "\e062";
}
.icon-remove-2:before {
	content: "\e063";
}
.icon-stats:before {
	content: "\e064";
}
.icon-bars:before {
	content: "\e065";
}
.icon-star-2:before {
	content: "\e066";
}
.icon-star-3:before {
	content: "\e067";
}
.icon-podcast:before {
	content: "\e068";
}
.icon-facebook:before {
	content: "\e069";
}
.icon-facebook-2:before {
	content: "\e06a";
}
.icon-instagram:before {
	content: "\e06b";
}
.icon-twitter:before {
	content: "\e06c";
}
.icon-twitter-2:before {
	content: "\e06d";
}
.icon-feed:before {
	content: "\e06e";
}
.icon-feed-2:before {
	content: "\e06f";
}
.icon-youtube:before {
	content: "\e070";
}
.icon-youtube-2:before {
	content: "\e071";
}
.icon-vimeo:before {
	content: "\e072";
}
.icon-vimeo2:before {
	content: "\e073";
}
.icon-flickr:before {
	content: "\e074";
}
.icon-flickr-2:before {
	content: "\e075";
}
.icon-picassa:before {
	content: "\e076";
}
.icon-picassa-2:before {
	content: "\e077";
}
.icon-dribbble:before {
	content: "\e078";
}
.icon-dribbble-2:before {
	content: "\e079";
}
.icon-github:before {
	content: "\e07a";
}
.icon-github-2:before {
	content: "\e07b";
}
.icon-wordpress:before {
	content: "\e07c";
}
.icon-wordpress-2:before {
	content: "\e07d";
}
.icon-tumblr:before {
	content: "\e07e";
}
.icon-tumblr-2:before {
	content: "\e07f";
}
.icon-finder:before {
	content: "\e080";
}
.icon-android:before {
	content: "\e081";
}
.icon-windows:before {
	content: "\e082";
}
.icon-apple:before {
	content: "\e083";
}
.icon-soundcloud:before {
	content: "\e084";
}
.icon-soundcloud-2:before {
	content: "\e085";
}
.icon-skype:before {
	content: "\e086";
}
.icon-reddit:before {
	content: "\e087";
}
.icon-linkedin:before {
	content: "\e088";
}
.icon-stumbleupon:before {
	content: "\e089";
}
.icon-delicious:before {
	content: "\e08a";
}
.icon-stumbleupon-2:before {
	content: "\e08b";
}
.icon-pinterest:before {
	content: "\e08c";
}
.icon-pinterest-2:before {
	content: "\e08d";
}
.icon-foursquare:before {
	content: "\e08e";
}
.icon-foursquare-2:before {
	content: "\e08f";
}
.icon-chrome:before {
	content: "\e093";
}
.icon-firefox:before {
	content: "\e094";
}
.icon-IE:before {
	content: "\e095";
}
.icon-opera:before {
	content: "\e096";
}
.icon-safari:before {
	content: "\e097";
}
.icon-google:before {
	content: "\e098";
}
.icon-google-plus:before {
	content: "\e099";
}
.icon-google-plus-2:before {
	content: "\e09a";
}
.icon-google-drive:before {
	content: "\e09b";
}
.icon-share:before {
	content: "\e09c";
}
.icon-quotes-left:before {
	content: "\e09d";
}
.icon-user:before {
	content: "\e09e";
}
.icon-users:before {
	content: "\e09f";
}
.icon-bubbles:before {
	content: "\e0a0";
}
.icon-bubbles-2:before {
	content: "\e0a1";
}
.icon-bubble-2:before {
	content: "\e0a2";
}
.icon-bubbles-3:before {
	content: "\e0a3";
}
.icon-bubbles-4:before {
	content: "\e0a4";
}
.icon-zoom-in:before {
	content: "\e0a5";
}
.icon-unlocked:before {
	content: "\e0a6";
}
.icon-lock:before {
	content: "\e0a7";
}
.icon-enter:before {
	content: "\e0a8";
}
.icon-exit:before {
	content: "\e0a9";
}
.icon-loop-3:before {
	content: "\e0aa";
}
.icon-embed:before {
	content: "\e0ab";
}
.icon-code:before {
	content: "\e0ac";
}
.icon-windows8:before {
	content: "\e0ad";
}
.icon-blogger:before {
	content: "\e0ae";
}
.icon-blogger-2:before {
	content: "\e0af";
}
.icon-steam:before {
	content: "\e0b0";
}
.icon-steam-2:before {
	content: "\e0b1";
}
.icon-cart:before {
	content: "\e0b2";
}
.icon-cart-2:before {
	content: "\e0b3";
}
