<!doctype html>
<html lang="en" ng-app="phonecatApp" >
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/data.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/animations.css">

  <script src="lib/angular/angular.js"></script>


    <script type="text/javascript">
var phonecatApp = angular.module('phonecatApp', []).directive('dir', function() {
  return {
      // controller: EngineeringController,
      link: function(scope, element) {          
           element.bind("keyup", function(event) {
                  document.getElementById("yo").innerHTML = scope.testModel;
                  console.log("bitch");
            });          
      }
  }
});
 
// phonecatApp.controller('PhoneListCtrl', function ($scope) {
  
// });
phonecatApp.controller('EngineeringController', function ($scope) {
    $scope.engineer = {
        name: "Dani",
        currentActivity: "Fixing bugs"
    };
 
    $scope.activities =
    [
        "nexus",
        "Testing code",
        "Faster",
        "tablet"
    ];  
    $scope.phones = [
    {'name': 'Nexus S',
     'snippet': 'Fast just got faster with Nexus S.'},
    {'name': 'Motorola XOOM™ with Wi-Fi',
     'snippet': 'The Next, Next Generation tablet.'},
    {'name': 'MOTOROLA XOOM™',
     'snippet': 'The Next, Next Generation tablet.'}
  ];      
});
</script>
 
  

</head>
<!-- <body ng-app="phonecatApp">
 -->
<!-- 
<body ng-controller="EngineeringController">
 
    <li ng-repeat="phone in phones | filter:query">
      {{phone.name}}
      <p>{{phone.snippet}}</p>
    </li>

  <div >
    <div>
        Choose a new activity:
        <select ng-model="query"
                ng-options="act for act in activities">                
        </select>
    </div>
</div>
 -->
<div id="myDiv">sdgdfgf</div>

<script type="text/javascript">
  var elem = document.getElementById("myDiv");
  elem.remove();
</script>

<!-- <input type="text" dir value = "{{ engineer.currentActivity }}">
 Search: <input type="text" id="yo" ng-model="query" > -->
</body>



 
<!--   <div ui-view id="dataload"></div>
 -->

 
</html>

<!-- 

<html >
<head>
  ...
  <script src="lib/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>

</html> -->